.User {
  font-size: 14px;
  color: #454545;
  .bg {
    height: 95px;
    padding: 0 16px;
    position: relative;
    background-color: #e93323;
    &::after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -49px;
      z-index: -1;
      content: "";
      height: 50px;
      width: 100%;
      border-radius: 0 0 50% 50%;
      background-color: #e93323;
    }
    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 20px;
      img {
        object-fit: cover;
      }
    }
    .nickname {
      color: #fff;
      font-size: 16px;
      margin-bottom: 6px;
      margin-right: 16px;
    }
    .vip_name {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 2px 10px;
      font-size: 12px;
      border-radius: 16px;
    }
    .id {
      text-align: left;
      color: hsla(0, 0%, 100%, 0.6);
    }
  }
  .wrapper {
    padding: 0 16px;
  }
  .wrapper .nav {
    height: 70px;
    background-color: #fff;
    border-radius: 4px;
    .line {
      width: 1px;
      height: 44px;
      background-color: #eee;
    }
    span {
      &:first-child {
        color: #aaa;
        margin-bottom: 6px;
      }
      &:last-child {
        color: #282828;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
  .wrapper .myorder {
    margin-top: 8px;
    border-radius: 6px;
    overflow: hidden;
    .order {
      text-align: left;
      font-size: 16px;
    }
  }
  .wrapper .myservice {
    margin-top: 8px;
    border-radius: 6px;
    overflow: hidden;
    .service {
      text-align: left;
      font-size: 16px;
    }
  }
}
